.container {
  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQYV2NkQAOM+AT+MzAwMGKoAAAW6gEFwT3bDgAAAABJRU5ErkJggg==
  ) repeat;
  height: 100%;
  font-family: Roboto
}